In [1]:
import pandas as pd
dataset=pd.read_csv("kidney_disease_train.csv")
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [2]:
dataset.isnull()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,True,True,True,False,False,...,True,True,True,False,False,False,False,False,False,False
2,False,False,False,True,True,True,True,True,False,False,...,True,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
276,False,False,False,True,True,True,True,True,False,False,...,False,False,True,False,False,False,False,False,False,False
277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
278,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
279,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [3]:
dataset.isnull().sum()

id                  0
age                 5
bp                  9
sg                 36
al                 35
su                 38
rbc               107
pc                 50
pcc                 4
ba                  4
bgr                33
bu                 14
sc                 12
sod                67
pot                68
hemo               39
pcv                51
wc                 77
rc                 93
htn                 1
dm                  1
cad                 1
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [4]:
def quanqual(dataset):
    qual=[]
    quan=[]
    for columnName in dataset.columns:
        if(dataset[columnName].dtypes=='O'):
            qual.append(columnName)
        else:
            quan.append(columnName)
    return quan,qual
quan,qual= quanqual(dataset)

In [5]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv']

In [6]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [7]:
import numpy as np
from sklearn.impute import SimpleImputer
imp= SimpleImputer(missing_values= np.nan, strategy='mean')
new_dataset1=imp.fit(dataset[quan])
new_dataset1=imp.transform(dataset[quan])

In [8]:
new_dataset1=pd.DataFrame(new_dataset1,columns=quan)
new_dataset1

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
0,157.0,62.0,70.0,1.025000,3.00000,0.000000,122.000000,42.0,1.7,136.000000,4.700000,12.6,39.000000
1,109.0,54.0,70.0,1.017439,1.02449,0.438017,233.000000,50.1,1.9,137.255869,4.754245,11.7,39.165939
2,17.0,47.0,80.0,1.017439,1.02449,0.438017,114.000000,87.0,5.2,139.000000,3.700000,12.1,39.165939
3,347.0,43.0,60.0,1.025000,0.00000,0.000000,108.000000,25.0,1.0,144.000000,5.000000,17.8,43.000000
4,24.0,42.0,100.0,1.015000,4.00000,0.000000,150.186235,50.0,1.4,129.000000,4.000000,11.1,39.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71.0,46.0,60.0,1.010000,1.00000,0.000000,163.000000,92.0,3.3,141.000000,4.000000,9.8,28.000000
276,106.0,50.0,90.0,1.017439,1.02449,0.438017,89.000000,118.0,6.1,127.000000,4.400000,6.0,17.000000
277,270.0,23.0,80.0,1.025000,0.00000,0.000000,111.000000,34.0,1.1,145.000000,4.000000,14.3,41.000000
278,348.0,38.0,80.0,1.020000,0.00000,0.000000,99.000000,19.0,0.5,147.000000,3.500000,13.6,44.000000
279,102.0,17.0,60.0,1.010000,0.00000,0.000000,92.000000,32.0,2.1,141.000000,4.200000,13.9,52.000000

In [9]:
imp2= SimpleImputer(missing_values= np.nan, strategy='most_frequent')
new_dataset2=imp2.fit(dataset[qual])
new_dataset2=imp2.transform(dataset[qual])

In [10]:
new_dataset2=pd.DataFrame(new_dataset2,columns=qual)
new_dataset2

,rbc,pc,pcc,ba,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,abnormal,notpresent,notpresent,7900,3.9,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,11000,4.5,no,yes,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,11000,4.5,yes,no,no,poor,no,no,ckd
3,normal,normal,notpresent,notpresent,7200,5.5,no,no,no,good,no,no,notckd
4,normal,abnormal,notpresent,present,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,normal,normal,notpresent,notpresent,14600,3.2,yes,yes,no,good,no,no,ckd
276,normal,normal,notpresent,notpresent,6500,4.5,yes,yes,no,good,yes,yes,ckd
277,normal,normal,notpresent,notpresent,7200,5.0,no,no,no,good,no,no,notckd
278,normal,normal,notpresent,notpresent,7300,6.4,no,no,no,good,no,no,notckd
279,normal,normal,notpresent,notpresent,7000,4.5,no,no,no,good,no,no,ckd

In [11]:
# Combine imputed numerical and categorical dataframes
combined_data = pd.concat([new_dataset1, new_dataset2],axis=1)
combined_data

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,ba,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157.0,62.0,70.0,1.025000,3.00000,0.000000,122.000000,42.0,1.7,136.000000,...,notpresent,7900,3.9,yes,yes,no,good,no,no,ckd
1,109.0,54.0,70.0,1.017439,1.02449,0.438017,233.000000,50.1,1.9,137.255869,...,notpresent,11000,4.5,no,yes,no,good,no,no,ckd
2,17.0,47.0,80.0,1.017439,1.02449,0.438017,114.000000,87.0,5.2,139.000000,...,notpresent,11000,4.5,yes,no,no,poor,no,no,ckd
3,347.0,43.0,60.0,1.025000,0.00000,0.000000,108.000000,25.0,1.0,144.000000,...,notpresent,7200,5.5,no,no,no,good,no,no,notckd
4,24.0,42.0,100.0,1.015000,4.00000,0.000000,150.186235,50.0,1.4,129.000000,...,present,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71.0,46.0,60.0,1.010000,1.00000,0.000000,163.000000,92.0,3.3,141.000000,...,notpresent,14600,3.2,yes,yes,no,good,no,no,ckd
276,106.0,50.0,90.0,1.017439,1.02449,0.438017,89.000000,118.0,6.1,127.000000,...,notpresent,6500,4.5,yes,yes,no,good,yes,yes,ckd
277,270.0,23.0,80.0,1.025000,0.00000,0.000000,111.000000,34.0,1.1,145.000000,...,notpresent,7200,5.0,no,no,no,good,no,no,notckd
278,348.0,38.0,80.0,1.020000,0.00000,0.000000,99.000000,19.0,0.5,147.000000,...,notpresent,7300,6.4,no,no,no,good,no,no,notckd
279,102.0,17.0,60.0,1.010000,0.00000,0.000000,92.000000,32.0,2.1,141.000000,...,notpresent,7000,4.5,no,no,no,good,no,no,ckd

In [12]:
combined_data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
rbc               0
pc                0
pcc               0
ba                0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [13]:
def splitting(dataset,quan,qual):
    import numpy as np
    from sklearn.impute import SimpleImputer
    imp= SimpleImputer(missing_values= np.nan, strategy='mean')
    new_dataset1=imp.fit_transform(dataset[quan])
    new_dataset1=pd.DataFrame(new_dataset1,columns=quan)
    
    imp= SimpleImputer(missing_values= np.nan, strategy='most_frequent')
    new_dataset2=imp.fit_transform(dataset[qual])
    new_dataset2=pd.DataFrame(new_dataset2,columns=qual)
    
    combined_data = pd.concat([new_dataset1, new_dataset2],axis=1)
    combined_data
    return combined_data

In [14]:
splitting(dataset,quan,qual)

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,ba,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157.0,62.0,70.0,1.025000,3.00000,0.000000,122.000000,42.0,1.7,136.000000,...,notpresent,7900,3.9,yes,yes,no,good,no,no,ckd
1,109.0,54.0,70.0,1.017439,1.02449,0.438017,233.000000,50.1,1.9,137.255869,...,notpresent,11000,4.5,no,yes,no,good,no,no,ckd
2,17.0,47.0,80.0,1.017439,1.02449,0.438017,114.000000,87.0,5.2,139.000000,...,notpresent,11000,4.5,yes,no,no,poor,no,no,ckd
3,347.0,43.0,60.0,1.025000,0.00000,0.000000,108.000000,25.0,1.0,144.000000,...,notpresent,7200,5.5,no,no,no,good,no,no,notckd
4,24.0,42.0,100.0,1.015000,4.00000,0.000000,150.186235,50.0,1.4,129.000000,...,present,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71.0,46.0,60.0,1.010000,1.00000,0.000000,163.000000,92.0,3.3,141.000000,...,notpresent,14600,3.2,yes,yes,no,good,no,no,ckd
276,106.0,50.0,90.0,1.017439,1.02449,0.438017,89.000000,118.0,6.1,127.000000,...,notpresent,6500,4.5,yes,yes,no,good,yes,yes,ckd
277,270.0,23.0,80.0,1.025000,0.00000,0.000000,111.000000,34.0,1.1,145.000000,...,notpresent,7200,5.0,no,no,no,good,no,no,notckd
278,348.0,38.0,80.0,1.020000,0.00000,0.000000,99.000000,19.0,0.5,147.000000,...,notpresent,7300,6.4,no,no,no,good,no,no,notckd
279,102.0,17.0,60.0,1.010000,0.00000,0.000000,92.000000,32.0,2.1,141.000000,...,notpresent,7000,4.5,no,no,no,good,no,no,ckd